<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title if title else "The 5 faces of English" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="site-header">
    <div class="wrap">
      <h1><a href="{{ url_for('index') }}">The 5 faces of English</a></h1>
      <nav>
        <ul class="main-nav">
          {% for item in nav %}
            <li><a href="{{ url_for('page', slug=item.slug) }}">{{ item.title }}</a></li>
          {% endfor %}
            <a href="{{ url_for('profile') }}">Profile</a>

        </ul>
      </nav>
    </div>
  </header>

  <main class="wrap">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="wrap">
    </div>

  </footer>
</body>
<div class="top-right">
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>

</div>

</html>
