{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>Our project</h2>
    <p>Our project is called “Sweet, lollies and candies – choose your English” because we decided to help people learn the variations of English in different Anglican countries. And in particular in America, Great Britain, Canada and Australia.</p>

    <h2>Why should you study variations of English?</h2>
    <p>There are many benefits of learning different varieties of English such as American, British, Australian and Canadian:</p>

    <ol>
        <li>
            <strong>Cultural Immersion:</strong> Learning different varieties of English allows you to immerse yourself in different cultures and societies. Each country has its own unique traditions, customs and history, which are reflected in the language. Learning different varieties of English helps you understand local expressions, accents, and cultural nuances, which enriches your language skills and allows you to better understand and interact with native speakers.
        </li>
        <li>
            <strong>Professional Opportunities:</strong> Learning different varieties of English can be beneficial for professional development. Some companies or industries may prefer a particular variation of English, and knowing that variation can be an advantage when looking for a job or advancing your career. For example, knowledge of British English can be useful when working in the UK or with British companies.
        </li>
        <li>
            <strong>Linguistic diversity:</strong> Each variation of the English language has its own characteristics in grammar, pronunciation and vocabulary. Studying different variations allows us to delve deeper into these differences and better understand how language develops and adapts to different contexts. This may be especially interesting for people interested in linguistics and linguistics.
        </li>
        <li>
            <strong>Travel and Communication:</strong> Learning different varieties of English makes it easier to travel and communicate with native speakers from different countries. When you travel, you encounter different accents and expressions, and knowing different varieties of English helps you better understand and be understood in different situations. Overall, learning different varieties of English allows you to diversify your language skills, immerse yourself in different cultures, and expand your professional opportunities. This opens the door to new acquaintances, experiences and understanding of the world in general.
        </li>
    </ol>

    <h3>Sources:</h3>
    <ul>
        <li><a href="https://www.planetware.com/tourist-attractions/australia-aus.htm" target="_blank">https://www.planetware.com/tourist-attractions/australia-aus.htm</a></li>
        <li><a href="https://en.wikipedia.org/wiki/History_of_the_United_States" target="_blank">https://en.wikipedia.org/wiki/History_of_the_United_States</a></li>
        <li><a href="https://www.attractionsofamerica.com" target="_blank">https://www.attractionsofamerica.com</a></li>
        <li><a href="https://skyeng.ru/articles/prazdniki-i-traditsii-prazdniki-v-ssha/" target="_blank">https://skyeng.ru/articles/prazdniki-i-traditsii-prazdniki-v-ssha/</a></li>
        <li><a href="https://cambridge.ua/blog/paskha-2023-tematicheskiye-pozdravleniya-dlya-blizkikh/" target="_blank">https://cambridge.ua/blog/paskha-2023-tematicheskiye-pozdravleniya-dlya-blizkikh/</a></li>
        <li><a href="https://bunniesbythebay.com/cdn/shop/articles/Easter_Bunny.jpg?v=1614325156" target="_blank">https://bunniesbythebay.com/cdn/shop/articles/Easter_Bunny.jpg?v=1614325156</a></li>
        <li><a href="https://share.america.gov/wp-content/uploads/2018/03/GettyImages-669365958-696x464.jpg" target="_blank">https://share.america.gov/wp-content/uploads/2018/03/GettyImages-669365958-696x464.jpg</a></li>
        <li><a href="https://arzamas.academy/materials/1357" target="_blank">https://arzamas.academy/materials/1357</a></li>
        <li><a href="https://www.tripadvisor.ru/Attractions-g153339-Activities-c47-Canada.html" target="_blank">https://www.tripadvisor.ru/Attractions-g153339-Activities-c47-Canada.html</a></li>
        <li>Australia: general information about the country, interesting facts (znaki.fm)</li>
        <li>Australian culture and way of life (travels-australia.com)</li>
        <li><a href="https://www.newworldencyclopedia.org/entry/Great_Britain" target="_blank">Great Britain - New World Encyclopedia</a></li>
        <li><a href="https://www.worldatlas.com/articles/what-is-british-culture.html" target="_blank">What is British Culture? - WorldAtlas</a></li>
        <li><a href="https://www.skyticket.com/en/travel-guide/united-kingdom-top-10-stunning-sights-of-the-british-isles/" target="_blank">United Kingdom：Top 10 Stunning Sights of the British Isles – skyticket Travel Guide</a></li>
        <li><a href="https://nomadsworld.com/aussie-slang/" target="_blank">https://nomadsworld.com/aussie-slang/</a></li>
        <li><a href="https://www.discoverwalks.com/aussie-slang/" target="_blank">10 Unique Traditions and Customs from Australia - Discover Walks Blog</a></li>
    </ul>
{% endblock %}