<!-- login.html -->
{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 400px; margin: auto; padding-top: 40px;">
    <h1>Login</h1>

    {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
            <div class="flash-messages-errors">
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>

        <label>Password</label>
        <input type="password" name="password" class="form-control" required>

        <button type="submit" class="btn">Log in</button>
    </form>

    <p style="margin-top: 15px;">
        Нет аккаунта?
        <a href="{{ url_for('register') }}">Зарегистрироваться</a>
    </p>
</div>

{% endblock %}